.slick-next{
    display: none !important;
}
.slick-prev{
    display: none !important;
}
.product:hover,.card:hover{
    box-shadow: 1px 1px 10px #4fa74f;
}

@media (min-width: 400px) {
    .container {
        max-width: 100%;
    }
}

.ReactModal__Content{
    z-index: 9999;
    border:1px solid black;
}

.landing{
    /* background-color: rgb(30, 248, 30); */
    /* clip-path: circle(70% at 50% -50%); */
}